Repository kinematic-lab/test-tube: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

chore: updated `pnpm-lock.yaml`
  pnpm-lock.yaml
Due: none

feat(`packages/benchmarker`): initial implementation
  packages/benchmarker/.eslintignore
  packages/benchmarker/.eslintrc.js
  packages/benchmarker/CHANGELOG.md
  packages/benchmarker/README.md
  packages/benchmarker/dev/index.mjs
  packages/benchmarker/package.json
  packages/benchmarker/src/index.ts
  packages/benchmarker/src/logger.ts
  packages/benchmarker/src/utilities.ts
  packages/benchmarker/tsconfig.json
  packages/benchmarker/tsup.config.ts
Due: prettier --write, eslint --cache --fix

docs(`packages/benchmarker`): removed `README.md`
  packages/benchmarker/README.md
Due: prettier --write

chore: removed `plop`
  package.json
  plop/generators/application.mjs
  plop/generators/package.mjs
  plop/templates/application-nuxt/.env.hbs
  plop/templates/application-nuxt/.eslintignore.hbs
  plop/templates/application-nuxt/.eslintrc.js.hbs
  plop/templates/application-nuxt/.npmrc.hbs
  plop/templates/application-nuxt/.prettierignore.hbs
  plop/templates/application-nuxt/README.md.hbs
  plop/templates/application-nuxt/app.vue.hbs
  plop/templates/application-nuxt/nuxt.config.ts.hbs
  plop/templates/application-nuxt/package.json.hbs
  plop/templates/application-nuxt/public/favicon.ico.hbs
  plop/templates/application-nuxt/tsconfig.json.hbs
  plop/templates/package-typescript/.eslintignore.hbs
  plop/templates/package-typescript/.eslintrc.js.hbs
  plop/templates/package-typescript/README.md.hbs
  plop/templates/package-typescript/jest.config.ts.hbs
  plop/templates/package-typescript/package.json.hbs
  plop/templates/package-typescript/src/index.ts.hbs
  plop/templates/package-typescript/src/module-example.ts.hbs
  plop/templates/package-typescript/tests/module-example.test.ts.hbs
  plop/templates/package-typescript/tsconfig.json.hbs
  plop/templates/package-typescript/tsup.config.ts.hbs
  plop/templates/package-typescript/types/common/index.d.ts.hbs
  plop/templates/package-typescript/types/common/module-example.d.ts.hbs
  plop/templates/package-typescript/types/common/package.json.hbs
Due: prettier --write

chore: removed `jest`
  package.json
  packages/benchmarker/package.json
  turbo.json
Due: prettier --write

docs: typo in `README.md`
  README.md
Due: prettier --write

chore: updated `ci.yml`
  .github/workflows/ci.yml
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,vue,md,yml,css,scss,json}
  eslint --cache --fix: any of: *.{js,vue}
